.tmp {
  height: 30vw;
}

.ttt {
  height: 100%;
  width: 100%;
}

.home-card {
  border-radius: 1rem;
}

body[data-mode='dark'] {
  .carousel-circle,
  .home-card {
    background-color: #555;
  }
  .carousel-button {
    color: #eee;
  }
  .carousel-circle.circle-check {
    background-color: #222;
  }
}

body[data-mode='light'] {
  .home-card {
    background-color: #fff;
  }
  .carousel-circle {
    background-color: #ccc;
  }
  .carousel-circle.circle-check{
    background-color: #777;
  }
}
.carousel {
  margin-bottom: 2rem;
}

.carousel-button {
  border: 0px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: #111;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  padding: 0;
  margin: 0;
  width: 300%;
  display: flex;
  transition: 1s;
  transform: translateX(0px);
  z-index: 3;
}

.carousel-slide {
  list-style: none;
  width: 100%;
}

.carousel-slide a {
  width: 100%;
}
.carousel-img {
  width: 100%;
}

.carousel-circle-con {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.carousel-circle {
  margin: 0 .5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #555;
}

.carousel-description {
  // width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(50, 50, 50, 0.9);
  color: whitesmoke;
  transition: .7s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-description h3 {
  font-size: 5rem;
  margin: 2rem 0;
}

.carousel-description .btn-con {
  padding: 1rem;
}

@media (max-width: 576px){
  .carousel-description h3 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .carousel-button {
    font-size: 1rem;
  }
}
