:root {
  --bg-light-color: #f1f0e8;
  --dark-color: #303030;
  --border-light-color: whitesmoke;
}

* {
  box-sizing: border-box;
}
body {
  -webkit-overflow-scrolling: touch;
  font-family: 'Noto Sans KR', sans-serif;
  height: 1000vw;
}
body[data-mode='dark'] {
  background: #303030;
  color: whitesmoke;
  background: var(--dark-color);
  color: var(--border-light-color);
  code:not(.highlight>code) {
    background-color: #555;
    color: white;
  }
  .highlight {
    background-color: #252525;
  }
  @media (min-width: 576px){
    #mode-btn {
      background-color: var(--dark-color);
    }
  }
}


body[data-mode='light'] {
  background-color: #f1f0e8;
  color: #303030;
  background-color: var(--bg-light-color);
  color: var(--dark-color);
  code:not(.highlight>code) {
    background-color: #bbb;
    color: #111;
  }
  .highlight {
    background-color: #555;
  }
  @media (min-width: 576px){
    #mode-btn {
      background-color: var(--bg-light-color);
    }
  }
}

.nav-margin {
  margin-top: 8rem;
}
